<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': status === 'allumé',
                'list-group-item-danger': status === 'éteint'}">
<!-- <li class="list-group-item"> -->
    <div style="width:20px;height:20px;background-color:red;" *ngIf="status === 'éteint'"></div>
    <div style="width:20px;height:20px;background-color:green;" *ngIf="status === 'allumé'"></div>
    <h4 [ngStyle]="{color: getColor()}">Appareil: {{name}} --status {{getStatus()}}</h4>
    <input type="text" class="form-control" [(ngModel)]="name">
    <a class="btn btn-default" routerLink="appareils/">Allumer</a>
    <button class="btn btn-success" (click)="onAllumer(index)">Allumer</button>
    <button class="btn btn-danger" (click)="onEteindre(index)">Eteindre</button>
</li>