<div class="container">
    <div class="row">
        <div class="col-xs-12">
        <h2>Mes appareils</h2>
        <p>Mis à jour : {{ lastUpdate| async  }}</p>
        <ul class="list-group"> 
            <app-appareil *ngFor="let appareil of appareils; let i=index" [name]="appareil.name" [status]="appareil.status" [index]="i"></app-appareil>
            <!-- <app-appareil [name]="appareilTwo"></app-appareil>
            <app-appareil [name]="appareilThree" ></app-appareil> -->
        </ul>
        <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout allumer</button>
        <button class="btn btn-danger" [disabled]="!isAuth" (click)="onEteindre()">Tout éteindre</button>
        </div>
    </div>
</div>